html {
  font-family: monospace;
  height: 100%;
  font-size: 16px;
}

body {
  background: linear-gradient(45deg, hsla(44, 95%, 78%, 1) 0%, hsla(345, 79%, 60%, 1) 100%);
  background-attachment: fixed;
}

header {
  display: flex;
}

nav {
  margin: 3%;
  width: fit-content;
  padding: 0.65rem;
  font-weight: 800;
  border: 6px #008080 outset;
  background-color: #97FEED;


}

nav a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  text-align: center;
}

button {
  background-color: #3F0071;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 4px solid #A555EC;
  cursor: pointer;
}

#startButton {
  background-color: #F11A7B;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 4px solid #982176;
  cursor: pointer;
  font-size: 1.25rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: auto;
  margin-top: 0;
  height: 75%;
  padding: 20px 0;
}

ul#listedOptions {
  list-style-type: none;
}

ul#listedOptions>li {
  margin: 1rem;
}

ul#listedOptions>li>button {
  margin: 0.4rem;
  background-color: #ee426b;
  font-size: 1.5rem;
  filter: drop-shadow(4px 4px 4px #b91e42);
  border-style: hidden;
  width: 100%;

}

ul#listedOptions>li>button:hover {
  filter: drop-shadow(2px 2px 2px #05403b);
  transition: filter 0.3s ease;
  background-color: #008080;
  color: white;
}

#showAllScores {
  list-style-type: none;
  padding: 1rem;
  text-align: center;
}

#showAllScores li {
  margin-bottom: 10px;
}

#createDiv {
  text-align: center;
}